CTM_HOST=https://XXX.XXX.XXX
CTM_ADMIN_USER=admin
CTM_ADMIN_PASS=ctmpassword
CTVL_HOST=https://XXX.XXX.XXX
CTVL_ADMIN_USER=root
CTVL_ADMIN_PASS=ctvlpassword
VERIFY_SSL=False
LOG_FILE=logs/provision.log
DEFAULT_EMAIL_DOMAIN=domain.com
TIMEOUT_SECONDS=30
INPUT_EXCEL=configs/appconfig.xlsx
CTE_OWNER_ID=local|15feac1d-XXXXXXX